---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  <p>
  &nbsp;
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        上一页
    </a>
  {% endif %}
  {% if paginator.next_page %}
    <span style="float:right;"><a href="{{ paginator.next_page_path }}" class="next">下一页</a> </span>
  {% endif %}
  </p>
  <p>
      <span class="page_number " style="float:right;">
        第{{ paginator.page }}页 - 共{{ paginator.total_pages }} 页
      </span>
  </p>
</div>

</div>
